@import '../../styles/mixins.scss'; 

.gender-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  height: 144px;

  @include onTablet-Desktop {
    width: 180px;
    height: 304px;
  }

  &__img {
    width: 72px;
    height: 72px;
  }
}